.aot_section {
  max-width: var(--content-width);
  height: 750px;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header_background {
  background-color: var(--bar-color);
  height: 128px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.headline {
  height: 128px;
  max-width: var(--content-width);
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_mobile {
  display: none;
}

.burger_menu {
  display: none;
}

.page_navigation {
  display: flex;
  justify-content: space-around;

  max-width: var(--content-width);
  margin: 0 auto;

  background-color: var(--bar-color);
  border-top: 1px solid var(--shopping-cart-color);
}

.page_navigation a {
  color: white;
}

.page_navigation a:hover {
  color: darkgray;
}

.headline img {
  scroll-margin-top: 50px;
}

.headline img:nth-child(2) {
  padding-right: 32px;
}

.headline img:hover {
  border-radius: 24px;
  cursor: pointer;
  filter: drop-shadow(4px -4px 2px rgb(100, 65, 0));
}

.aot_icon {
  position: absolute;
  top: 350px;
}

.aot_icon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid grey;
}

.aot_headline {
  padding-top: 50px;
  gap: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.aot_headline_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  gap: 32px;
}

.aot_image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.aot_headline {
  display: flex;
  align-items: center;
}

.aot_headline img {
  width: 110px;
  height: 32px;
}

.aot_headline h1 span:nth-child(1) {
  color: var(--bar-color);
}

.aot_headline h1 span:nth-child(2) {
  color: red;
}

.tripadvisor_rating {
  background-color: #facaac;
  border-radius: 4px;
  padding: 4px 8px;

  margin-top: 6px;
  gap: 6px;

  display: flex;
  align-items: center;
}

.tripadvisor_rating p {
  color: #363534;
}

.tripadvisor_rating span {
  color: #726d6d;
}

.tripadvisor_rating img {
  width: auto;
  height: auto;
}

.content {
  max-width: 1440px;
  margin: 0 auto;

  display: flex;

  position: relative;
}

.menu_section {
  width: calc(100% - 350px);
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  position: relative;
}

.headline_background {
  top: 128px;

  width: calc(100% + 350px);
  height: 60px;
  margin: 0 auto;

  background-color: var(--bar-color);
  z-index: -1;
}

.menu_headline {
  padding: 0 24px;
  margin-top: -60px;

  max-width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-grow: 1;

  color: white;

  scroll-margin-top: 40px;
}

.menu_headline img {
  margin-top: -30px;
  padding-right: 16px;
}

.menu_headline a img {
  margin: 0;
  padding: 0;
}

.home_arrow:hover {
  filter: brightness(70%);
}

.menu_headline :first-child {
  display: flex;
}

.menu_headline button {
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--shopping-cart-color);
}

.menu_headline button:hover {
  filter: brightness(70%);
}

.menu_item {
  max-width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 24px 64px 24px;
}

.menu_container {
  background-color: #fdeadc;
  border-radius: 16px;
  display: flex;

  position: relative;
}

.menu_image {
  width: 200px;
  height: 125px;
  object-fit: cover;
  border-radius: 24px;
  padding: 8px;
}

.menu_item_headline {
  display: flex;
  justify-content: space-between;
}

.mobile_only {
  display: flex;
  justify-content: flex-end;
}

.menu_price_mobile {
  display: none;
}

.menu_item_info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  padding: 8px;
}

.button_addcart {
  background-color: white;
  font-weight: 600;
  font-size: 16px;
  color: #363534;
  border-radius: 20px;
  border: none;
  width: 115px;
  height: 30px;
}

.button_addcart:hover {
  cursor: pointer;
  color: #e76c1f;
}

.shopping_cart_section {
  width: 350px;
  flex-grow: 1;
}

.shopping_cart {
  border-radius: 30px 0 0 30px;
}

.shopping_cart,
.shopping_cart_mobile {
  width: 350px;
  height: 600px;
  padding: 16px;
  background-color: var(--shopping-cart-color);
  border: none;

  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 40px;
}

.shopping_cart h2 {
  color: white;
}

.shopping_items_container {
  max-height: 300px;
  overflow-y: auto;
}

.shopping_cart_item {
  width: 240px;
  background-color: #fdeadc;
  border-radius: 20px;
  padding: 12px;
  margin: 8px;
  gap: 8px;

  display: flex;
  flex-direction: column;
}

.shopping_cart_item p {
  font-size: 22px;
}

.bill_container {
  width: 260px;
  color: white;
  display: flex;
  flex-direction: column;
}

.buttons_price_container {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount_buttons_bill {
  display: flex;
  justify-content: center;
  height: 29px;
}

.amount_buttons_bill button {
  border: none;
}

.amount_buttons_bill img {
  height: 18px;
  align-self: center;
  cursor: pointer;
}

.bill_container h4,
h3 {
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;
}

.buy_now h3 {
  gap: 6px;
}

.buy_now {
  background-color: var(--bar-color);
  color: white;
  padding: 8px 16px;
  border-radius: 32px;
  border: none;

  display: flex;
  justify-content: center;
}

.buy_now:hover {
  filter: brightness(140%);
}

.footer_content {
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  background-color: var(--bar-color);

  color: white;

  gap: 100px;
}

.footer_content_mobile {
  display: none;
}

.header_mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
  color: white;
}

.dialog_close {
  position: absolute;
  right: 24px;
  top: 24px;

  padding: 8px;

  border-radius: 50%;
  border: none;
  background-color: transparent;
}

.dialog_close:hover {
  background-color: red;
}

.dialog {
  border-radius: 30px;
  width: 350px;
  padding: 0;
  border: none;
  margin: auto;
  background-color: var(--shopping-cart-color);
}

.order_confirmed_section {
  border-radius: 30px;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 32px;
}

.shopping_cart_mobile {
  border-radius: 30px;
}

.shopping_cart_section_mobile {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-anchor: none;

  position: relative;
}

.bill_container_mobile {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 12px;
}

.bill_container_mobile h4,
h3 {
  display: flex;
  justify-content: space-between;
}

.opened::backdrop {
  background-color: rgb(0, 0, 0, 0.9);
}

.order_confirmed_content {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no_scroll {
  overflow: hidden;
}

.shopping_cart_amount {
  font-size: 32px;
  color: #e76c1f;
}

.disabled_button {
  background-color: transparent;
  color: darkgray;
}
