@import url(./styles/page_style.css);

@font-face {
  font-family: "Palanquin-Regular";
  src: url(./assets/fonts/Palanquin-Regular.ttf);
}

@font-face {
  font-family: "Palanquin-Bold";
  src: url(./assets/fonts/Palanquin-Bold.ttf);
}

@font-face {
  font-family: "PalanquinDark-Regular";
  src: url(./assets/fonts/PalanquinDark-Regular.ttf);
}

@font-face {
  font-family: "PalanquinDark-Bold";
  src: url(./assets/fonts/PalanquinDark-Bold.ttf);
}

@font-face {
  font-family: "Palanquin-SemiBold";
  src: url(./assets/fonts/Palanquin-SemiBold.ttf);
}

:root {
  --bar-color: #e76c1f;
  --content-width: 1440px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Palanquin-Regular";

  margin: 0 auto;

  min-height: 100vh;

  overflow-x: hidden;
}

h1 {
  margin: 0;
  font-family: "PalanquinDark-Regular";
  font-size: 48px;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 120%;
}

h2 {
  font-family: "Palanquin-Bold";
  font-size: 40px;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 120%;
}

h3 {
  font-family: "Palanquin-Bold";
  font-size: 22px;
  font-weight: 700;
}

h4 {
  font-family: "Palanquin-SemiBold";
  font-size: 20px;
  font-weight: 600;
}

p {
  font-family: "Palanquin-Bold";
  font-size: 24px;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 120%;
}

ul {
  list-style: none;
  display: flex;
  gap: 32px;
  padding: 0;
}

button {
  cursor: pointer;
}

main {
  max-width: var(--content-width);
  margin: 0 auto;
  display: flex;
}

footer {
  background-color: var(--bar-color);
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
