.aot_section {
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  height: 900px;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_background {
  background-color: orange;
  height: 128px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.headline {
  height: 128px;
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headline nav {
  padding-right: 32px;
}

.headline img:hover {
  border-radius: 24px;
  cursor: pointer;
  filter: drop-shadow(4px -4px 2px rgb(100, 65, 0));
}

.aot_section .aot_icon {
  position: absolute;
  top: 350px;
}

.aot_icon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid grey;
}
