.aot_section {
  background-size: cover;
  background-position: center;
  max-width: var(--content-width);
  height: 750px;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_background {
  background-color: var(--bar-color);
  height: 128px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.headline {
  height: 128px;
  max-width: var(--content-width);
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headline nav {
  padding-right: 32px;
}

.headline img:hover {
  border-radius: 24px;
  cursor: pointer;
  filter: drop-shadow(4px -4px 2px rgb(100, 65, 0));
}

.aot_section .aot_icon {
  position: absolute;
  top: 350px;
}

.aot_icon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid grey;
}

.aot_headline {
  padding-top: 50px;
  gap: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.aot_headline img {
  width: 110px;
  height: 32px;
}

.aot_headline h1 span:nth-child(1) {
  color: var(--bar-color);
}

.aot_headline h1 span:nth-child(2) {
  color: red;
}

.section_header_background {
  background-color: var(--bar-color);
  width: 100%;
  height: 60px;
}

.menu_content {
  max-width: var(--content-width);
  margin: 0 auto;
}

.menu_table {
  background-color: #fdeadc;
  border-radius: 16px;
  display: flex;
  flex-grow: 1;
}

.menu_headline {
  max-width: var(--content-width);
  display: flex;
  align-items: center;

  margin-top: -90px;
  padding-left: 48px;

  color: white;
}

.menu_headline h2 {
  margin-bottom: -15px;
  padding-left: 30px;
}

.menu_item {
  display: flex;
  flex-direction: column;
  max-width: 860px;
  gap: 16px;
  padding: 24px 0px 64px 128px;
}

.menu_container {
  display: flex;
}

.menu_image {
  width: 200px;
  padding: 8px;
}

.footer_content {
  max-width: var(--content-width);
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  gap: 50px;
}

.menu_item_headline {
  display: flex;
  justify-content: space-between;
}

.menu_item_info {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
  padding: 8px;
}

.button_addcart {
  background: url(../assets/images/buttons/button_default.png);
  background-size: contain;
  background-position: center;
  align-self: flex-end;
  border-radius: 16px;
  border: none;
  width: 100px;
  height: 30px;
}

.button_addcart:hover {
  background: url(../assets/images/buttons/button_hover.png);
  background-size: contain;

  cursor: pointer;
}
