@media (max-width: 1440px) {
  body {
    overflow: visible;
  }
  .headline {
    padding: 0 32px;
  }
}

@media (max-width: 1024px) {
  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 78px;
  }

  .logo_mobile {
    display: inline;
  }

  .logo_desktop {
    display: none;
  }

  .aot_headline {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
  }

  .page_navigation {
    flex-direction: column;
    align-items: center;
  }

  .navigation_menu_closed {
    transform: translateY(-600%);
  }

  .burger_menu {
    display: inline;
  }

  .menu_section {
    width: 100%;
    position: relative;
  }

  .shopping_cart_section {
    display: none;
  }

  .bill_container_mobile {
    color: white;
  }

  .footer_content {
    display: none;
  }

  .footer_content_mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--shopping-cart-color);
    height: 78px;

    background-color: #363534;
  }

  .footer_content_mobile div {
    display: flex;

    position: relative;
  }

  .footer_content_mobile p {
    width: 20px;
    position: absolute;
    top: -20px;
    right: -20px;
  }

  .footer_content_mobile img {
    width: 30px;
    height: 30px;
  }

  .footer_content_mobile img:hover {
    filter: brightness(50%);
    cursor: pointer;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  p {
    font-size: 22px;
  }

  .aot_image {
    width: 343px;
    height: 346px;
    border-radius: 16px;

    margin-top: 150px;
  }

  .menu_price {
    display: none;
  }

  .menu_price_mobile {
    display: inline;
  }

  .menu_headline {
    padding-top: 32px;
    justify-content: center;

    position: relative;

    scroll-margin-top: 44px;
  }

  .menu_headline div {
    flex-direction: column;
    align-items: center;

    position: absolute;
    bottom: 8px;
  }

  .menu_headline div img {
    padding-right: 0;
    width: 53px;
    height: 60px;
  }

  .menu_headline button {
    position: absolute;
    right: 9px;
    top: 9px;
  }

  .home_arrow:hover {
    border: 1px solid blue;
    border-radius: 50%;
  }

  .menu_container {
    flex-direction: column;
    align-items: center;
  }

  .menu_image {
    width: 300px;
  }

  .mobile_only {
    justify-content: space-between;
  }

  .menu_item_info {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    gap: 0;
  }
}

@media (max-width: 400px) {
  .aot_image {
    width: 280px;
    height: 280px;
  }

  .aot_icon {
    width: 150px;
    height: 150px;
    top: 320px;
  }

  .menu_image {
    width: 230px;
  }

  .menu_item_info {
    padding-left: 12px;
    padding-right: 12px;
  }

  .button_addcart {
    width: 100px;
    font-size: 14px;
  }

  .footer_content_mobile {
    padding: 0 20px;
  }
}
